<footer class="site-footer">
  <div class="footer-container">
    <p class="footer-copyright" style="color: var(--color-brown);">
      &copy; {% currentYear %} JeenBake
    </p>
    <p class="footer-links">
      <a href="{{ site.baseUrl }}/privacy-policy/" class="{% if page.url == '/privacy-policy/' %}active{% endif %}">Privacy Policy</a> | 
      <a href="{{ site.baseUrl }}/terms-of-services/" class="{% if page.url == '/terms-of-services/' %}active{% endif %}">Terms of Services</a>
    </p>
  </div>
</footer>
