---
title: "Checklist - Global Onboarding - IT Services"
layout: "layout.njk"
keywords: onboarding, IT services checklist, employee onboarding tools, JeenBake portals, enterprise IT access, JeenBake training resources, new hire support, JeenBake documentation links
---

<section class="section">
  <h1>Global Onboarding – IT Services</h1>
  <p>This checklist provides a collection of essential IT service resources, portals, and support links for global onboarding at JeenBake.</p>

  <ul>
    <li><a href="http://snow.jeenbake.com/" target="_blank">snow.jeenbake.com</a></li>
    <li><a href="https://jeensnprod.service-now.com/jeen_ess?id=kb_view" target="_blank">ServiceNow Knowledgebase</a></li>
    <li><a href="http://helpdesk.jeenbake.com/" target="_blank">JeenBake Helpdesk</a></li>
    <li><a href="https://jeenbake.edubrite.com/oltpublish/site/coursePlayer.do?dispatch=show&courseSessionId=acc0afc9-9ab4-11e6-807c-0cc47a352510" target="_blank">EduBrite Course (Session 1)</a></li>
    <li><a href="https://jeenbake.edubrite.com/oltpublish/site/coursePlayer.do?dispatch=show&courseSessionId=8f45b20b-af59-11e3-bc5a-00163e0054ca" target="_blank">EduBrite Course (Session 2)</a></li>
    <li><a href="https://jeenbake.edubrite.com/oltpublish/site/coursePlayer.do?dispatch=show&courseSessionId=62817f28-849a-11e5-9903-002590f9ff98" target="_blank">EduBrite Course (Session 3)</a></li>
    <li><a href="https://jeenbake365.sharepoint.com/sites/jeenbake/jeenbakepolicies" target="_blank">JeenBake Policies (SharePoint)</a></li>
    <li><a href="https://jeenbake365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=h" target="_blank">SharePoint Video Portal</a></li>
    <li><a href="https://salesforce.jeenbake.com/" target="_blank">Salesforce Portal</a></li>
    <li><a href="http://kronos.jeenbake.com/" target="_blank">Kronos Time System</a></li>
    <li><a href="https://lynda.jeenbake.com/" target="_blank">Lynda.com (Training)</a></li>
    <li><a href="https://concur.jeenbake.com/" target="_blank">Concur (Expenses)</a></li>
    <li><a href="https://ishop.jeenbake.com/" target="_blank">iShop (Ordering)</a></li>
    <li><a href="https://eportal.jeenbake.com/" target="_blank">ePortal</a></li>
    <li><a href="http://tot.jeenbake.com/" target="_blank">TOT Portal</a></li>
    <li><a href="https://portal.office.com/" target="_blank">Microsoft Office Portal</a></li>
    <li><a href="https://outlook.jeenbake.com/" target="_blank">Outlook Web</a></li>
    <li><a href="http://eem.jeenbake.com/" target="_blank">Enterprise Environment Manager</a></li>
    <li><a href="https://webapps.jeenbake.com/dep/ist/mobilenumberupdate/" target="_blank">Mobile Number Update Tool</a></li>
    <li><a href="https://jeenbake.webex.com/" target="_blank">Webex Portal</a></li>
    <li><a href="https://jira.jeenbake.com/" target="_blank">JIRA Access</a></li>
    <li><a href="https://confluence.jeenbake.com/" target="_blank">Confluence Documentation</a></li>
    <li><a href="https://confluence.jeenbake.com/display/istdoc/JIRA+Training+Courses" target="_blank">JIRA Training Courses</a></li>
    <li><a href="https://confluence.jeenbake.com/display/istdoc/JIRA+User+Guides" target="_blank">JIRA User Guides</a></li>
    <li><a href="http://info.jeenbake.com/how_do_i/" target="_blank">How Do I... (Info Portal)</a></li>
    <li><a href="http://info.jeenbake.com/contacts/" target="_blank">Contacts (Info Portal)</a></li>
    <li><a href="http://info.jeenbake.com/policies/index.asp" target="_blank">Company Policies</a></li>
    <li><a href="http://info.jeenbake.com/forms/" target="_blank">Internal Forms</a></li>
    <li><a href="http://info.jeenbake.com/departments/index.asp" target="_blank">Departments Directory</a></li>
    <li><a href="http://info.jeenbake.com/jeenbake_community/index.asp" target="_blank">JeenBake Community</a></li>
  </ul>

  <p class="note">For support or assistance, please contact <a href="mailto:ithelp@jeenbake.com">ithelp@jeenbake.com</a>.</p>
</section>
